DB_HOST=localhost
DB_PORT=5432
DB_USER="postgres"
DB_PASS="postgres"
DB_NAME="easygift"

SECRET_KEY="secretkey"
SMTP_HOST=smtp
SMTP_PORT=465
SMTP_USER=user
SMTP_PASSWORD=password
EMAIL_FROM=crazygift24@gmail.com

SITE_URL="https://staging.0923-bleu-3.wns.wilders.dev"

NEXT_PUBLIC_APOLLO_URI="http://localhost:4001"

NODE_ENV="production"
GATEWAY_PORT=8001
CORS_ALLOWED_ORIGINS=https://staging.0923-bleu-3.wns.wilders.dev
